@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600&family=Montserrat&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Nunito', sans-serif;
}

body {
  margin: 0;
  background: rgb(69,68,82);
  background: linear-gradient(90deg, rgba(69,68,82,1) 0%, rgba(56,56,68,1) 100%, rgba(168,168,185,1) 100%, rgba(2,42,50,1) 100%);
}

.slide-in-left-enter {
  transform: translateX(-100%);
}

.slide-in-left-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 200ms;
}

.slide-in-left-exit {
  transform: translateX(0%);
  opacity: 1;
}

.slide-in-left-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 200ms;
}

.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
